@charset "ISO-8859-1";
body
{
	background-color:navy;
	

}

header
{
	height: 150px;
	width: 100%;
	background-color: white;
	color:navy;
	text-align: center;
}

.buttons
{
	height: 50px;
	width: 50px;
	border-radius: 20px;
	
}
.main
{
	margin-top: 60px;
	padding: 20px;
	text-align: center;
}
td{
	
	color:white;
}
a{
	
	color: white;
	text-decoration: none;
	font-size: 23px;
}
span
{
	color: white;
		font-size: 23px;
	
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}